.page {
  padding: 20px;
  background-color: #000; /* Black background for Solana theme */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.main {
  width: 100%;
  max-width: 1200px;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #bb86fc;
}

.inputSearch {
  width: 80%;
  padding: 14px;
  background-color: #2b2b2b;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.inputSearch::placeholder {
  color: #aaa;
}

.inputSearch:focus {
  outline: none;
  border: 2px solid #bb86fc;
  box-shadow: 0 0 5px rgba(187, 134, 252, 0.7);
}

.searchButton {
  padding: 10px 20px;
  background-color: #6200ee;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  color: #bb86fc;
}

.vaultInfo {
  text-align: center;
  color: #bb86fc;
  margin-bottom: 20px;
}

.chartRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* No wrapping for single-line chart display */
  overflow-x: auto; /* Allow horizontal scrolling on small screens */
  margin-bottom: 30px;
}

.chartContainerSmall {
  background-color: #222;
  padding: 20px;
  border-radius: 12px;
  width: 20%; /* Smaller width for charts */
  min-width: 250px; /* Ensure the chart container has a minimum width */
  margin-right: 20px; /* Spacing between charts */
}

.chartTitle {
  text-align: center;
  color: #bb86fc;
  margin-bottom: 10px;
}



/* Ensure global styling for canvas elements */
:global(canvas) {
  background-color: #1a1a1a; /* Dark background for charts */
}
